*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

ul{
    list-style: none;
}

li{
    display: flex;
    text-wrap: nowrap;
}

a:link{
    text-decoration: none;
    
}

  li > a {
    color: white;
}

/* .debug */


/* .debug .rowBack{
    background-color: coral;
   
} */



 .jumboBack2{
   background-color: whitesmoke;
  
}

.headBack{
   
    height: 80px;
}

.jumboBackSmall{
   
    min-height: 500px;
}

.greyBack{
    background-color:whitesmoke;
}

.blackBack{
    background-color: rgb(0, 0, 0);
   
}



/* struttura */


.container{
   width: 1200px;
}

.row{
    display: flex;
    justify-content: center;
  
}

.col-20{
    width: 20%;
}
.col-60{
    width: 60%;
}

.col-60a{
    min-height: 40px;
    width: 60%;
    text-align: center
}

.col-75{
    width: 65%;
}

.col{
    width: 100%;
}

.col-40{
    width: 40%;
}


.sectionB{}


.col-17{
    width: 17.5%;
}

.col-30{
    width: 27%;
}


.rowFooter{
    min-height: 80px;
    
}

.colFooter{
  padding: 5px;
}

/* utility */

.inlineBlock{
    display: inline-block;
}

.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexStart{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flexBetween{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flexEnd{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.row-reverse{
    flex-direction: row-reverse;
}

.align-item-end{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.textAlign{
    text-align: center;
}

.wrap{
    flex-wrap: wrap;
}

.customWidth{
    width: 80%;
}

.displayColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spaceAround{
    justify-content: space-around;
}

.customPadding{
    padding-top: 85px;
}

.customMarginTop{
    margin-top: 35px;
}

/* end utility */

/* style + img/background */
.topBackground{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.whiteFont{
    color: white;
}

.linkGap{
    gap:30%;
}

.whiteButton{
    background-color: white;
}

.blackButton{
    background-color: black;
}

button{
    border-radius: 20px;
    padding: 10px 17px;
    border: none;
}

.blackFont{
    color: black;
}

.linkGap > li > a {
    color: white;
}

.whiteButton > a {
    color: black;
}

.blackButton > a {
    color: white
}

.blueButton > a {
    color: white
}

h1{
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 35px;
}

h2{
    font-weight: 700;
    font-size: 50px;
    line-height: 58px;
    width: 82%;

}

p{
    font-size: 20px;
}

.jumboButton{
    display: flex;
    justify-content: center;
    gap: 5%;
    padding-top: 5%;
}

.headButton{
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
}

.downloadArrow{
    font-size: 16px;
}

.wave{
    width: 100%;
    display: block;
    opacity: 4%;
   
}

.reverseImg{
    transform: scale(-1, -1);

}

.bigImg{
    width: 100%;
}

h3{
    font-size: 27px;
    font-weight: 700;
    width: 91%;
   
}

.customH3{
    line-height: 6px;
    padding-bottom: 40px;
}

.blueButton{
    background-color: rgb(111, 111, 196)
}

.blueFont{
    color: rgb(131, 131, 251);
}

li {
    margin-bottom: 5px;
}

.customMarginBot{
    margin-bottom: 6px;
}

.hLine{
width:100%; height: 1px; background: rgb(203, 235, 255)}

.smallerLogo{
    width: 6%;
    margin: 5px;
}